*.log
*.sqlite
*.db
*.db-shm
*.db-wal
*.json
*.html
*.npy
*.pt
*.csv
*.xlsx
.cache/
.ipython/
.jupyter/
.local/
.sagemaker_sql_editor_api_cache/
.virtual_documents/
.ipynb_checkpoints/
__pycache__/
*.ipynb
feature/
model.pt
requirements.txt
